
.git/
.qtcreator/
.vs/

lib/*
!lib/sqlite3
lib/sqlite3/*
!lib/sqlite3/*.h

# Compiled object files
*.o
*.pdb
*.exe

# Cmake build directory
out/

CMakeLists.txt.user*
CMakeCache.txt
CMakeUserPresets.json

# Generated UI files
ui_*.h

!.gitkeep
